
// Створюємо зміну для загального шрифту, та розміру шрифта
$fontFamily: "Quicksand";
$fontSize: 25;
// Основні кольори
$mainColor: #6A6E77;
$darkColor: #1C1F25;


// Мінімальна ширина сторінки
$minWidth: 320px;
// Ширина макету
$maxWidth: 1920px;
//Ширина обмежуючого контейнера ( 0 = немає обмеження )
$maxWidthContainer: 0;
// Загальний відступ контейнера
$containerPadding: 240px;